.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt60 {
    margin-top: 60px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml5 {
    margin-left: 5px;
}

.size {
    width: 20px !important;
    height: 20p !important;
}

.imgMargin {
    margin-top: 3px;
    margin-left: 3px;
}

.instagram {
    background-color: rgb(185, 185, 185);
    opacity: 0.75;
    border-radius: 5px;
    height: 27px;
    width: 27px;
}

.instagram:hover {
    border-radius: 5px;
    background-color: red;
}

.facebook {
    background-color: rgb(185, 185, 185);
    opacity: 0.75;
    border-radius: 5px;
    height: 27px;
    width: 27px;
}

.facebook:hover {
    border-radius: 5px;
    background-color: blue;
}

.linkedin {
    background-color: rgb(185, 185, 185);
    opacity: 0.75;
    border-radius: 5px;
    height: 27px;
    width: 27px;
}

.linkedin:hover {
    border-radius: 5px;
    background-color: blue;
}

.tweeter {
    background-color: rgb(185, 185, 185);
    opacity: 0.75;
    border-radius: 5px;
    height: 27px;
    width: 27px;
}

.tweeter:hover {
    border-radius: 5px;
    background-color: blue;
}

.container-fluid {
    min-height: 335px !important;
    background-color: #442B62 !important;
}

h2 {
    color: #FFFFFF;
}

p {
    // text-align: center;
    color: #FFFFFF;
}

.yello {
    text-decoration: none;
    color: #F9A825 !important;
}

// .row {

//     background-color: #543975;

//     .bgColor {
//         background-color: #442B62;
//     }
// }

.logoimg {
    width: 144px;
    margin-left: 10px;


}

.paragraph {
    max-width: 250px;
    overflow-wrap: break-word;
}

div {
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
}

mat-divider {
    border-color: #FFFFFF;
}