<div class="container-fluid mt60" style="background-color: #442B62;">
    <div class="row " style="background-color: #543975;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="text-center mt30 mb30">
                Apply to become mentor at ApplyChance
                <a class="yello" href="#">Apply Now</a>
            </p>
        </div>
        <div class="col-md-3"> </div>
    </div>
    <div class="row mt60">
        <div class="col-md-1"></div>
        <div class="col-md-3 ">
            <div class="row ">
                <div class="mt10">
                    <img class="logoimg " src="../../../assets/IMG/Group3108.png" alt="">
                    <p class="paragraph mt20">
                        we collect feedback & improve to grow with your business
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h2 class="mt10">
                Our Company
            </h2>
            <div>
                <a href="#">
                    contact us
                </a>
            </div>
            <div>
                <a href="#">
                    contact us
                </a>
            </div>
            <div>
                <a href="#">
                    contact us
                </a>
            </div>
            <div>
                <a href="#">
                    contact us
                </a>
            </div>

        </div>
        <div class="col-md-2">
            <h2 class="mt10">
                Legal
            </h2>
            <div>
                <a href="#">
                    contact us
                </a>
            </div>
            <div>
                <a href="#">
                    contact us
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <h2 class="mt10">
                Learn more
            </h2>
            <div>
                <a href="#">
                    contact us
                </a>
            </div>
            <div>
                <a href="#">
                    contact us
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row mt10">
                <div class="col-md-1">
                    <div class="instagram">
                        <a href="#">
                            <img class="imgMargin" src="../../../assets/IMG/MaskGroup4.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-1 ml5">
                    <div class="facebook">
                        <a href="#">
                            <img class="imgMargin" src="../../../assets/IMG/MaskGroup3.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-1 ml5">
                    <div class="linkedin">
                        <a href="#">
                            <img class="imgMargin" src="../../../assets/IMG/MaskGroup2.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-1 ml5">
                    <div class="tweeter">
                        <a href="#">
                            <img class="imgMargin" src="../../../assets/IMG/MaskGroup1.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mt20">
                    <img src="../../../assets/IMG/Playstor.svg" alt="">
                </div>

            </div>

        </div>
    </div>

    <div class="row mt30">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-divider></mat-divider>
            <p class="mt20 mb30 text-center">
                2021-2020 ApplyChance, inc.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>