<mat-card class="example-card">
    <div class="row header">
        <div class="col-md-9 ">
            <h3>
                Electrical And Computer Engineering
            </h3>
            <label for="">
                Master Of science
            </label>
            <br>
            <br>

            <a href="#" class="yellow mt20">
                Department Of Civil And Environmental Engineering
            </a>
        </div>

        <div class="col-md-3 text-end ">
            <button class="close-btn mt5" mat-mini-fab (click)="closeDialog()">
                <mat-icon class="close-icon">close</mat-icon>
            </button>
        </div>
    </div>
    <mat-card-content>
        <div class="row mt20">
            <div class="col-md-4">
                <span>

                    Min GPA :

                </span>
            </div>

            <div class="col-md-3 text-end ">
                <span>
                    80
                </span>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row mt20">
            <div class="col-md-4">
                <span class="">

                    Annual Tuition :

                </span>
            </div>

            <div class="col-md-3 text-end ">
                <span class="">

                    $ 51949

                </span>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="box">
            <div class="row mt5 pl5">
                <div class="col-md-4">
                    <div class="colorSilver">
                        <mat-icon class="">
                            calendar_month
                        </mat-icon>
                        <span class="spanPosition mt2">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-3 text-end ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="row pl5">
                <div class="col-md-4">
                    <div class="colorSilver">
                        <mat-icon class="">
                            calendar_month
                        </mat-icon>
                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-3 text-end ">
                    <span class="colorSilver">

                        $ 51949
                    </span>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="row  pl5">
                <div class="col-md-4">
                    <div class="colorSilver">
                        <mat-icon class="">
                            calendar_month
                        </mat-icon>
                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-3 text-end ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-chip-listbox class="ml20" aria-label="Dog selection">
            <mat-chip>
                <span class="colorSilver">
                    #Electerical Engineering
                </span>
            </mat-chip>
            <mat-chip color="colorSilver">
                <span class="colorSilver">
                    #Electerical Engineering
                </span>
            </mat-chip>

        </mat-chip-listbox>
    </mat-card-actions>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="left">
        <mat-tab label="First">
            <div class="row ml0 mr0 silver-box" style="">
                <div class="col-md-5 mt5">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  mt5">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Second">
            <div class="row ml0 mr0 silver-box" style="">
                <div class="col-md-5 mt5">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  mt5">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Third">
            <div class="row ml0 mr0 silver-box" style="">
                <div class="col-md-5 mt5">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  mt5">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Third">
            <div class="row ml0 mr0 silver-box" style="">
                <div class="col-md-5 mt5">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  mt5">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>

                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>

                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Third">
            <div class="row ml0 mr0 silver-box">
                <div class="col-md-5 mt5">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  mt5">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5 ">
                    <div class="colorSilver">

                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-5  ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>

            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="row mr15 ml15 mt15 purple-box" style="">
        <div class="col-md-1">
            <div class="mt12">
                <mat-icon class="yellow-icon" style="">
                    mail
                </mat-icon>
            </div>
        </div>
        <div class="col-md-6">
            <div class="colorSilver mt12">

                <span class="mt10  " style="color: white;margin-left: -15px;">
                    Annual Tuition :
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="colorSilver mt10">

                <span class="mt15  " style="color: white;margin-left: -15px;">
                    Annual Tuition :
                </span>
            </div>
        </div>
    </div>

</mat-card>