<mat-card class="example-card">
    <mat-card-header>

        <form class="search-form">
            <div>
                <mat-icon class="search-icon">search</mat-icon>
                <input type="text" class="searchInput" placeholder="search in applychance">
            </div>
        </form>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-md-9 ">
                <h3>
                    Electrical And Computer Engineering
                </h3>
                <label for="">
                    Master Of science
                </label>
            </div>

            <div class="col-md-3 text-end ">
                <button mat-raised-button color="primary" (click)="openDialog()">More Details</button>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-md-4">
                <span>

                    Min GPA :

                </span>
            </div>

            <div class="col-md-3 text-end ">
                <span>
                    80
                </span>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row mt20">
            <div class="col-md-4">
                <span class="">

                    Annual Tuition :

                </span>
            </div>

            <div class="col-md-3 text-end ">
                <span class="">

                    $ 51949

                </span>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="box">
            <div class="row mt5 pl5">
                <div class="col-md-4">
                    <div class="colorSilver">
                        <mat-icon class="">
                            calendar_month
                        </mat-icon>
                        <span class="spanPosition mt2">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-3 text-end ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="row pl5">
                <div class="col-md-4">
                    <div class="colorSilver">
                        <mat-icon class="">
                            calendar_month
                        </mat-icon>
                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-3 text-end ">
                    <span class="colorSilver">

                        $ 51949
                    </span>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="row  pl5">
                <div class="col-md-4">
                    <div class="colorSilver">
                        <mat-icon class="">
                            calendar_month
                        </mat-icon>
                        <span class="mt2 spanPosition">
                            Annual Tuition :
                        </span>
                    </div>
                </div>

                <div class="col-md-3 text-end ">
                    <span class="colorSilver">

                        $ 51949

                    </span>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-chip-listbox aria-label="Dog selection">
            <mat-chip>
                <span class="colorSilver">
                    #Electerical Engineering
                </span>
            </mat-chip>
            <mat-chip color="colorSilver">
                <span class="colorSilver">
                    #Electerical Engineering
                </span>
            </mat-chip>

        </mat-chip-listbox>
    </mat-card-actions>
</mat-card>